"<h1>{{title}}</h1>
<div id="pageErrors" class="flash error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="errorSummary">There are problems with the information you provided</h2> 
    <ul class="error-summary-list"> <li ng-if="state.hasError(\'effectiveDate\')">
            <a id="effectiveDatePageErrMsg" href="javascript:return false" onclick="return false;" data-ng-click="jumpTo(\'effectiveDateDay\')">{{state.validationMessage(\'effectiveDate\')}}</a>
        </li> 
    </ul>
</div>
<form name="dateForm" class="form">    
    <div class="form-group {{state.hasError(\'effectiveDate\')}} ">
        <fieldset> <legend class="form-label-bold">Effective date of your transaction.</legend> 
            <span class="form-hint">This is usually the completion date.</span>            
            <span class="form-hint">For example, 31 3 2014.</span>            
            <span id="effectiveDateErrMsg" class="error-notification">{{state.validationMessage(\'effectiveDate\')}}</span>            
        <div class="form-date">
            <div class="form-group form-group-day"> <label for="effectiveDateDay">Day</label> 
            <input id="effectiveDateDay" ng-model="data.effectiveDateDay" ng-change="updateEffectiveDate()" type="text" pattern="[0-9]*" min="0" max="31" maxlength="2" required>
         </div>
            <div class="form-group form-group-month">
                <label for="effectiveDateMonth">Month</label> 
                <input id="effectiveDateMonth" ng-model="data.effectiveDateMonth" ng-change="updateEffectiveDate()" type="text" pattern="[0-9]*" min="0" max="12" maxlength="2" required>
            </div>
            <div class="form-group form-group-year">
                <label for="effectiveDateYear">Year</label> 
                <input id="effectiveDateYear" ng-model="data.effectiveDateYear" ng-change="updateEffectiveDate()" type="text" pattern="[0-9]*" min="0" maxlength="4" required>
            </div>
            </div> 
        </fieldset>
    </div>    
    <div class="form-group">        
        <button ng-click="submit()" class="button" id="continue-button" type="submit">Continue</button>    
    </div>    
</form>"