"<h1>{{title}}</h1>
<div id="pageErrors" class="flash error-summary" role="group" aria-labelledby="errorSummary" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="errorSummary">There are problems with the information you provided</h2>
    <ul class="error-summary-list">
        <li ng-if="state.hasError(\'holdingType\')">
            <a id="holdingTypePageErrMsg" href="javascript:return false" onclick="return false;" data-ng-click="jumpTo(\'holdingType\')">{{state.validationMessage(\'holdingType\')}}</a>
        </li>
    </ul>
</div>
<form name="holdingForm" class="form">
    <div class="form-group {{state.hasError(\'holdingType\')}} ">
        <fieldset>
            <legend id="holdingType" class="form-label-bold">Is your transaction freehold or leasehold?</legend>
            <span class="form-hint text">Choose \'Freehold\' if it\'s a freehold transaction or you\'re aquiring an existing lease. Choose \'Leasehold\' if it\'s a new lease.</span>
            <span id="holdingTypeErrMsg" class="error-notification">{{state.validationMessage(\'holdingType\')}}</span>
            <div class="inline">
                <label class="block-label" for="holding-free">
                    <input id="holding-free" ng-model="data.holdingType" name="holdingType" value="Freehold" type="radio" required>Freehold
                </label>
                <label class="block-label" for="holding-lease">
                    <input id="holding-lease" ng-model="data.holdingType" name="holdingType" value="Leasehold" type="radio" required>Leasehold
                </label>
            </div>
        </fieldset>
    </div>
    <div class="form-group">
        <button ng-click="submit()" class="button" id="continue-button" type="submit">Continue</button>
    </div>
</form>"